* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: white;
  background-image: url('./background1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.1rem;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
}
